
<form action="/named-cat" method="post">
First name: <input type="text" name="name">
Age: <input type="text" name="age">
Colour: <input type="text" name="color">
<input type="submit" value="Submit">
</form>