
<form action="/named-cat">
  First name: <input type="text" name="name">
  Age: <input type="text" name="age">
  <input type="submit" value="Submit">
</form>

<div
style='border: 3px dashed <%= @color %>'>
<img src='http://bit.ly/1eze8aE'>
</div>

<% if !@name.empty? %>
<h1>My name is <%= @name%>. And i am <%= @age %> years old!!</h1>
<% end %>